* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body, html {
  font-family: Roboto, sans-serif;
  background-color: #ccc;
}

a {
  text-decoration: none;
  color: blue;
  transition: ease 0.3s;
}

a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.avatar {
  width: 225px;
  height: 254px;
  border-radius: 10%;
  -webkit-box-shadow: 4px 4px 8px #999; 
	   -moz-box-shadow: 4px 4px 8px #999;
	        box-shadow: 4px 4px 8px #999;
}

.destaque {
  color: #696969;
}

.nome {
  text-indent: 2em;
}

.textoparagrafos {
  line-height: 1.5;
}

h2, li, p {
  line-height: 1.5;
}

.titleName {
  font-size: 36px;
  font-weight: 500;
  color: rgba(105,105,105);
}

.nome> p {
  font-size: 24px;
  font-weight: 400;
  color: #C0C0C0;
}

.content {
  background-color: #fff;
  max-width: 1100px;
  margin: 10px  auto;
  padding: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 10px #999; 
	   -moz-box-shadow: 6px 6px 10px #999;
	        box-shadow: 6px 6px 10px #999;
}

.cabecalho {
  display: flex;
  margin: 0 40px;
}

.social {
  margin-top: 5px;
  display: flex;
  transition: 0.3s;
}

.social> li:hover {
  opacity: 0.8;
}

.perfil {
  margin: 25px 40px;
}

.perfil> hr {
  margin-bottom: 25px;
}

.pessoalinfo {
  margin-top: 10px;
}

.dadospessoal {
  opacity: 0.7;
}

.formacao {
  margin-top: 25px;
}

.formacao> hr {
  margin-bottom: 25px;
}

.experienca {
  margin-top: 25px;
}

.experienca> hr {
  margin-bottom: 25px;
}

.atividades {
  margin-left: 25px;
}

.cursos {
  margin-top: 25px;
}

.cursos> hr {
  margin-bottom: 25px;
}

.lista {
  margin-left: 35px;
}

.lista> li {
  list-style: decimal
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 19px;
  font-weight: bold;
  color: #808080;
}

.indice {
  margin-top: 35px;
  margin-left: 39px;
}

.indice> hr {
  margin-bottom: 25px;
}

.links {
  margin-top: 10px;
  margin-left: 25px;
  display: flex;
  text-indent: 4em;
}

.links> li {
  font-size: 22px;
  font-weight: bold;
}

.imghome {
  margin-top: 20px;
  margin-left: 900px;
  opacity: 0.2;
  transition: 0.4s;
}

.imghome:hover {
  opacity: 0.9;
}

/* hobbies */

.linha {
  margin: 25px 0;
}

.hobbiestittle {
  text-align: center;
}

.hobbiessocial {
  display: flex;
  text-indent: 1em;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.futebol {
  margin-top: 25px;
  display: flex;
  padding: 10px;
}

.imghobbies {
  width: 360px;
  border-radius: 6px;
  height: 360px;
  -webkit-box-shadow: 6px 6px 10px #999; 
	   -moz-box-shadow: 6px 6px 10px #999;
	        box-shadow: 6px 6px 10px #999;
}

.descriptionfutebol {
  margin-left: 50px;
  background-color: #F0FFFF;
  padding: 20px;
  line-height: 1.5;
}

.descriptionfutebol> h2 {
  color: green;
  margin-bottom: 10px;

}

.descriptionfutebol> p {
  font-size: 19px;
  color: #AAB7B8;
}

.video {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.video> h2 {
  margin-left: 20px;
}

.ajustavideo {
  align-items: center;
  justify-content: center;
  margin-left: 85px;
}

.audio {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.audio> h2 {
  margin-left: 20px;
}

.audioajuste {
  width: 100%;
  
}



